<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LandonHotel</title>
    <link rel="icon"
          type="image/png"
          href="/favicon.png">

    <environment names="Development">
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <header id="intro">
        @RenderSection("Hero", false)

        <nav id="nav">
            <div class="navbar">
                <div class="brand"><a asp-area="" asp-controller="Home" asp-action="Index" asp-fragment="welcome">Landon <span>Hotel</span></a></div>
                <ul>
                    <li><a class="icon info" asp-controller="Home" asp-action="Index" asp-fragment="hotelinfo"><span>info</span></a></li>
                    <li><a class="icon rooms" asp-controller="Home" asp-action="Index" asp-fragment="rooms"><span>rooms</span></a></li>
                    <li><a class="icon dining" asp-controller="Home" asp-action="Index" asp-fragment="dining"><span>dining</span></a></li>
                    <li><a class="icon attractions" asp-controller="Home" asp-action="Index" asp-fragment="attractions"><span>attractions</span></a></li>
                    <li><a class="icon events" asp-controller="Booking" asp-action="Index"><span>book now!</span></a></li>

                </ul>
            </div><!-- navbar -->
        </nav>
    </header>
    <main id="wrapper">

        @RenderBody()
    </main>
    <footer class="scene">
        <article class="content">
            <div id="socialmedia">
                <ul class="group">
                    <li><a href="https://twitter.com"><img class="icon" src="/images/socialmedia/twitter.png" alt="icon for twitter" /></a></li>
                    <li><a href="http://www.facebook.com"><img class="icon" src="/images/socialmedia/facebook.png" alt="icon for facebook" /></a></li>
                    <li><a href="http://www.youtube.com"><img class="icon" src="/images/socialmedia/youtube.png" alt="icon for youtube" /></a></li>
                </ul>
            </div>
        </article>
    </footer>


    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("scripts", required: false)

</body>
</html>
